.header img {
    height: 80px;
}

.siteLogo {
    text-align: center;
}
.nav-item{
    background: black;
    padding: 30px;
    margin-top: 10px;
}
 nav {
    font-size: 26px;
    float: left;
    margin-top: -18px;
}

nav a {
    text-decoration: none;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    padding: 5px;
}

nav a:hover {
    background: grey;
}